
<div class="container">
    <a routerLink="Brands">
        <div class="tile-container">
            <span>Technical Data</span>   
        </div>
    </a>
    <a routerLink="Ads">
    <div class="tile-container">     
            <div>
                <span>Buy/Sell Cars</span>
            </div>
    </div>
    </a>
</div>
    <!-- <a routerLink="Brands">
    <div class="tile-container">
        
            <div>
                <span>Car Parts/Car Care</span>
            </div>     
    </div>
</a>
<a routerLink="Brands">
    <div class="tile-container">      
            <div>
                <span>Car Detailing</span>
            </div>
        
    </div>
</a> -->
